<h1 style="color: dodgerblue;">Tabla de productos</h1>
<div class="container-fluid">
    <table class="table" id="productos" style="width: 100%; background-color:lightslategray; color:white;">

    </table>
</div>